body{
    font-family: "Poppins", sans-serif;
    background-color: #faf9f6;
    min-height: 95vh;
}
h1{
    font-size: 5rem;
}
span{
    color: blue;
}
footer{
    background-color: antiquewhite;
    text-align: right;
    color: midnightblue; 
}
.showcase{
 display: inline-block;
}
#second{
    margin-left: 50px;
    float: left;
    height: 400px;
    width: 320px;
}
#third{
        margin-left: 50px;
        float: left;
        height: 400px;
        width: 320px;
}
#first{
    margin-left: 50px;
    float: left;
    height: 400px;
    width: 320px;
}
#fourth{
    margin-left: 50px;
    float: left;
    height: 400px;
    width: 320px;
}
img{
    height: 200px;
    width: 300px;
}
#logo{
    height: 200px;
    width: 200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.cover{
    height:200px;
    width: 1500px;
    background-color: blanchedalmond;
    margin: 0%;
}
@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
        text-align: center;
    }
    .cover {
        height: 120px;
        width:480px ;
    }
    #logo {
        height: 120px;
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    *{
        background-color: antiquewhite;

    }
    #first{
        display:block;
    }
    #second{
        display: block;
    }
    #third{
        display: block;
    }
    #fourth{
        display: block;
    }
    footer {
        font-size: 0.8rem;
    }
}